.page {
    min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
  margin: 0;
  padding: 0;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  padding: 0;
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: absolute;
  left: 64px;
  z-index: 2;
}

.header__subtitle {
  padding: 0;
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom:30px;
  z-index: 2;
}

.header__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}

.content {
  margin: 0;
  padding: 0;
}

  .description {
    margin: 100px auto;
    width: 80%;
  }

  .two-columns {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .two-columns__brief {
  padding: 0;
  margin: 0;
  width: 175px;
  color: blue;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  }

  .two-columns__main-text {
    width:  80%;
    min-width: 784px;
  }

  .two-columns__paragraph {
    padding: 0;
    margin: 30px 0 30px;
    line-height: 34px;
    font-size: 24px;
    font-style: normal;
  }

  .two__columns_span-accent {
    padding: 0;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
  }

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px;
  padding: 0;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
  text-align:center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  padding: 0;
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  height: 790px;
  margin: 0 auto;
  padding: 100px 0 0;
  background-color: #f2f2f2;
}

.feynman_title {
  margin: 0 auto;
  padding: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  position: inherit;
  z-index: 2;
}

.feynman_subtitle {
  margin: 70px auto 0;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: inherit;
  z-index: 2;
}

.feynman_link {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman_illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.kaufman {
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
  margin: 0;
  padding: 90px 0 90px;
}

.section-title__theme_dark {
  color: white;
  position: inherit;
  z-index: 2;
}

.section-subtitle__theme_dark {
  color: white;
  margin-top: 20px;
}

.table__theme_dark {
  margin: 0 auto;
  padding: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top:0;
  right:-210px;
}

.footer {
  background-color:  #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  margin: 0;
  min-height: 350px;
  height: 1px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height: 100%;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  margin: 0;
  padding:0;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding: 18px 0;
  margin: 0;
}

.footer__column_content_info {
  margin: 0;
  padding: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding:0;
}

.footer__column_links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0 10px 0 0;
}

.footer__column_links_null {
  margin: 0;
  padding: 0;
}

.naked_li{
  list-style: none;
  margin: 0;
  padding: 0;
}
